 /* スタイルの適用 */
/*共通*/
@charset "UTF-8";
.logo {
	width: 100px;
	margin-top: 100px;
  display: inline-block;
  }

header {
  width: 100%;/*横幅*/
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  /*画像横幅*/
  background-size: cover;
  background-clip: content-box;
}

h1 {
  margin: 10px; /* 修正:適切な値を設定 */
  
  display: inline-block;/*0927追加*/
}

h2 {
  margin: 10px; /* 修正:適切な値を設定 */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;/* ボタン間のスペース */
  margin-top: 20px;
  flex-direction: column; /* ボタンを縦に配置する */
  align-items: center; /* ボタンを中央に配置する */
}

.button {
  background-color: #caae58;
  color: #fff;
  padding: 20px 40px; /* パディングを大きく調整 */
  border: none;
  cursor: pointer;
  font-size: 24px; /* フォント大きく調整 */
  position: relative; /* ボタンに対して相対位置指定 */
  z-index: 1; /* ボタンを前面に表示 */
  text-align: center;
}

.button:hover {
  background-color: #cab173;
}

/*背景*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
    background-size: cover;
    background-color: #D2B48C;
    /*background-image: url(../images/CorkBoard.jpg);*/
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* 追加 */
.white {
  width: 50%;
  height: auto; /* 適切な高さを指定 */
  position: relative; /* 親要素に記入 */
  text-align: center;
  background-color: white;
  display: inline-block; /* テキストに対してインラインブロック要素を使用 */
  padding: 10px 20px;
  border-radius: 5px;
  margin-left:380px;
  margin-bottom:50px;
}

* { margin: 0;
  padding: 0; 
}*

ul {
  list-style:none; 
}

div {
  padding: 0 30px;
}

.header__flex {
  display: flex;
  height:60px; 
  align-items: center;
}
.header__flex nav {
  margin-left: auto;
}
.header__flex ul {
  display: flex;
}
.header__flex ul li {
  margin-left: 20px;
}

/*追加0927*/
.center{ 
  text-align: center
}
/*grobalnavi*/
#global_navi {
  width: 980px;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}
  
  #global_navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  #global_navi ul li {
  width: 300px;
  float: left;
  margin-right: 1px;
  text-align: center;
  
  }

#main {
  font-size: 15px;
  padding: 50px;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

a {
  color: #ff0;
  text-decoration: underline;
}


aside {
  width:22%;
}
.content{
  display: flex;
  justify-content: space-between
  margin-bottom 50px;
}

/*　フッター　*/
footer {
  background-color: #333; /* フッターの背景色をヘッダーと同じに設定 */
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 100;
}

#sidebar {
  width: 300px;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(235, 196, 4, 0.5);
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  max-width: 200px;
  margin:200px 20px;
  height: 180px;  
}

#sidebar a {
  color: #007bff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  transition: background-color 0.3s ease-in-out;
  border-left: 5px solid transparent;
}

#sidebar a:hover {
  background-color: #ff0;
}

/* スクロール時のカレントリンクのスタイル */
#sidebar a.active {
  background-color: #555;
  border-left: 5px solid #caae58;
}

